/* Add this to your CSS file or style section */
.text span {
    display: flex;
    align-items: center;
  }
  
  .text-danger .FaShoppingCart {
    margin-right: 5px; /* Adjust the margin as needed */
  }
  
 
  